# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Byte-compiled / optimized / DLL files
*.py[cod]

# Virtual environments
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
